@mixin media-above($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin media-below($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: ($breakpoint-value - 1)) {
    @content;
  }
}

@mixin media-between($lower, $upper) {
  $lower-breakpoint: map-get($breakpoints, $lower);
  $upper-breakpoint: map-get($breakpoints, $upper);

  @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
    @content;
  }
}

@function color-opac($key, $opacity: 1, $map: $colors) {
  $value: map-get($map, $key);
  $value: rgba($value, $opacity);
  @return $value;
}

.ratio {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    display: block;
    width: 100%;
    content: "";
  }
}

$aspect-ratios: (
  (
    1: 1,
  ),
  (
    2: 1,
  ),
  (
    3: 2,
  ),
  (
    3: 4,
  ),
  (
    4: 3,
  ),
  (
    4: 1,
  ),
  (
    5: 4,
  ),
  (
    8: 5,
  ),
  (
    15: 9,
  ),
  (
    16: 9,
  ),
  (
    64: 45,
  ),
  (
    6: 5,
  ),
  (
    23: 18,
  ),
  (
    41: 35,
  ),
  (
    41: 45,
  ),
  (
    63: 55,
  )
) !default;

//
// Generate a series of ratio classes to be used like so:

// @example
//   <div class="ratio ratio-16:9">

// @each $ratio in $aspect-ratios {
//   @each $antecedent, $consequent in $ratio {
//     @if (type-of($antecedent) != number) {
//       @error "`#{$antecedent}` needs to be a number.";
//     }

//     @if (type-of($consequent) != number) {
//       @error "`#{$consequent}` needs to be a number.";
//     }

//     .ratio-#{$antecedent}\:#{$consequent}::before {
//       padding-bottom: ($consequent/$antecedent) * 100%;
//     }
//   }
// }

.swiper-button-prev,
.swiper-button-next {
  width: 27px;
  height: 44px;

  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.swiper-row {
  display: flex;
}

.swiper-row-1 {
  display: flex;
}

// .swiper-row-1 .swiper .swiper-wrapper .swiper-slide {
//   width: auto !important;
// }

.swiper-row .swiper .swiper-wrapper .swiper-slide {
  width: auto !important;
}

.swiper-row .swiper {
  margin-left: 0px;
}

.fixed-header {
  background: #fff;
  z-index: 9999;
  padding-top: 0px !important;
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100%;
  border-top: 1px solid #d3d3d366;
}

/* Media query for screens smaller than 990px */
@media (max-width: 990px) {
  .fixed-header {
    top: 80px; /* Change the top value for smaller screens */
  }
}
